*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 238, 228);
}

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(131, 131, 131);
    box-shadow: 0px 1px 10px 1px rgb(131, 131, 131);
    padding: 10px;
    background-color: rgb(255, 255, 88);
}

section{
    padding: 20px;
    box-shadow: 0px 1px 10px 1px rgb(131, 131, 131);
    background-color: rgb(255, 255, 88);
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 15px;
    border: 1px solid black;
    margin: 5px;
    
}

label{
    background-color: rgb(255, 255, 88);
    padding: 3px 5px;
    width: 50%;
    font-weight: 500;
    border-radius: 3px;
   border: 1px solid rgb(172, 172, 172);
}

input{
    border-bottom: 1px solid rgb(131, 131, 131);
    border-top: none;
    border-left: 1px solid rgb(131, 131, 131);
    border-right: none;
    outline: none;  
    border-radius: 3px;
    padding: 3px 5px;
}

.btn{
    background-color: rgb(13, 179, 13);
    border: none;
    border-radius: 5px;
    padding: 7px 5px;
    width: 60%;
    margin-left: 20%;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 15px;
}
.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    opacity: 0.5;
}

a:link{
    color: black;
    text-decoration: none;
    margin-left: 1%;
    font-weight: 600;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(27, 197, 55);
    color: white;
    font-size: 14px;
}

ul{
    padding: 20px;
}

li{
    padding: 5px;
}