*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(48, 16, 16), rgb(20, 8, 8));
}

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: brown;
    color: white;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

section{
    text-align: center;
    background-color: brown;
    border: 1px solid white;
    color: white;
    padding: 30px;
    border-radius: 5px;
}

.img{
    width: 50px;
    margin-top: 10%;
}

.img img{
    width: 50px;
}

form{
    text-align: left;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(197, 91, 91);
    margin-top: 10px;
    border-radius: 2px;
}

form input{
    padding: 5px;
    border: none;
    border-radius: 2px;
}

.btn{
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(180, 32, 32);
    color: white;
    border-radius: 20px;
    transition: 0.3s;
    padding: 7px;
}
.btn:hover{
    background-color: white;
    color: brown;
}
.btn:active{
    opacity: 0.7;
}

ul{
    padding: 20px 30px;
    list-style:square;
}

li{
    padding: 5px;
    font-size: 20px;
    
}

p{
    margin-top: 10px;
}

a:link{
    color: white;
    font-weight: 600;
}