*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(255, 238, 238), rgb(211, 155, 155));
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(138, 21, 21);
    color: white;
}

span{
    color: rgb(245, 70, 70);
}

img{
    width: 30px;
    transform: rotate(15deg);
    cursor: pointer;
    transition: 0.3s;
}
img:hover{
    transform: rotate(0);
    transform: scale(1.5);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    padding: 25px;
    background-color: rgb(138, 21, 21);
    color: white;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgb(233, 108, 108);
    box-shadow: 1px 2px 20px 1px rgb(71, 12, 12);
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin-top: 15px;
    font-weight: 500;
    border-top: 1px solid rgb(233, 108, 108);
}

select{
    padding: 10px;
    border: none;
    background-color: brown;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgb(233, 108, 108);
    box-shadow: 1px 2px 10px 0px rgb(71, 12, 12);
}

.btn{
    width: 50%;
    background-image: linear-gradient(to left, rgb(189, 77, 77), rgb(165, 48, 48));
    color: white;
    padding: 10px 0;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 24%;
    transition: 0.2s;
    box-shadow: 1px 2px 10px 0px rgb(71, 12, 12);
}

input:hover{
    box-shadow: 0px 0px 10px 10px rgb(245, 33, 33);
}

input:active{
    background-color: brown;
    transform: scale(0.9);
    color: white;
}

ul{
    margin-top: 10px;
    padding: 10px 30px;
    text-align: left;
    border-top: 1px solid rgb(233, 108, 108);
}

li{
    padding: 8px;
    background-color: brown;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid rgb(233, 108, 108);
    box-shadow: 1px 2px 10px 0px rgb(71, 12, 12);
    list-style: none;
}

