*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, black, rgb(44, 10, 10));
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(138, 21, 21);
    color: white;
}

img{
    width: 30px;
    transform: rotate(15deg);
    cursor: pointer;
    transition: 0.3s;
}
img:hover{
    transform: rotate(0);
    transform: scale(1.5);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    padding: 25px;
    background-color: rgb(138, 21, 21);
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(46, 13, 13);
    padding: 20px;
    margin-top: 10px;
    font-weight: 500;
}

select{
    padding: 5px;
    border: none;
    background-color: brown;
    color: white;
    font-weight: 500;
}

.btn{
    width: 50%;
    background-color: white;
    padding: 5px 0;
    border: none;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 24%;
    transition: 0.2s;
}

input:hover{
    box-shadow: 0px 0px 10px 10px rgb(245, 33, 33);
}

input:active{
    background-color: brown;
    transform: scale(0.9);
    color: white;
}

ul{
    margin-top: 10px;
    padding: 10px 30px;
    background-color: brown;
}

li{
    padding: 8px;
}