*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(24, 10, 51), rgb(37, 16, 80));
    color: white;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(89, 0, 255);
    padding: 8px;
    text-align: center;
    color: white;
}

section{
    padding: 40px;
    background-color: rgb(89, 0, 255);
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(19, 2, 51, 0.274);
    padding: 20px;
    border-radius: 2px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 500;
}

section h2{
    margin-bottom: 10px;
    font-size: 27px;
}

input{

    border-radius: 3px;
    border: none;
    padding: 2px 5px;

}

.btn{
    cursor: pointer;
    background-color: rgb(22, 194, 59);
    width: 50%;
    color: white;
    font-weight: 600;
    padding: 4px;
    margin-left: 25%;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.1);
}

.btn:active{
    opacity: 0.5;
}

a:link{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}