*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: white;
}

body{
    background-image: linear-gradient(rgb(145, 193, 255), rgb(143, 192, 255));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid rgb(198, 229, 255);
    box-shadow: 0px 0px 10px rgb(0, 66, 128);
    background-color: rgb(107, 152, 248);
}

main section{
    padding: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 1px rgb(0, 66, 128);
    border-radius: 10px;
    background-color: rgb(107, 152, 248);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main section h1{
    width: 500px;
    text-align: center;
}

main section form{
    border-top: 2px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 15px;
}

form label{
    background-color: rgb(2, 70, 172);
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}

form select{
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 80%;
    background-color: rgb(68, 132, 228);
    font-weight: 600;
    cursor: pointer;
}

option{
    font-weight: 600;
}

form input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 80%;
    background-color: rgb(31, 102, 207);
    font-weight: 600;
}

form .btn{
    width: 60%;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(31, 102, 207),rgb(13, 70, 155));
    box-shadow: 0px 0px 10px rgb(0, 66, 128);
    transition: 0.3s;
}

form .btn:hover{
    opacity: 0.8;
}

form .btn:active{
    transform: scale(0.9);
}

p a{
    text-decoration: none;
    border-radius: 5px;
    width: 60%;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(31, 102, 207),rgb(13, 70, 155));
    box-shadow: 0px 0px 10px rgb(0, 66, 128);
    transition: 0.3s;
}

ul{
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 5px;
    list-style: none;
}

ul li{
    font-size: 20px;
}