*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

div{
    text-align: center;
    background-color: rgb(9, 48, 107);
    padding: 20px;
    color: white;
    border-radius: 10px;
}

form{
    background-color: rgb(109, 168, 255);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

label{
    font-weight: 500;
}

input{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn{
    width: 50%;
    background-color: rgb(0, 168, 0);
    color: white;
    font-weight: 600;
    padding: 7px 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(0, 128, 0, 0.774);
}

.btn:active{
    background-color: rgba(0, 128, 0, 0.384);
}