*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to left, rgb(250, 235, 255), rgb(245, 221, 252));
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(to left, rgb(212, 64, 212), rgb(102, 0, 128));
    color: white;
    box-shadow: 0px 0px 10px 1px rgba(64, 0, 107, 0.541);
}

span{
    color: rgb(208, 175, 228);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid rgb(230, 131, 255);
    border-radius: 10px;
    gap: 20px;
    background-image: linear-gradient(rgb(137, 15, 185), rgb(55, 21, 87));
    box-shadow: 1px 2px 10px 1px rgba(67, 0, 112, 0.404);
}

 h4{
    color: rgb(240, 181, 255);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(230, 131, 255);
    padding: 20px;
    gap: 20px;
}

label{
    font-weight: 500;
}

select{
    border: 1px solid rgb(230, 131, 255);
    background-color: rgb(137, 15, 185);
    color: white;
    padding: 8px;
    font-weight: 500;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0px 0px 10px 1px rgb(60, 0, 78);
}

input{
    border: 1px solid rgb(230, 131, 255);
    background-color: rgb(137, 15, 185);
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgb(60, 0, 78);
}

.btn{
    width: 50%;
    background-image: linear-gradient(to left, rgb(85, 7, 100), rgb(142, 17, 173));
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgb(60, 0, 78);
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
    background-image:  linear-gradient(to left, rgb(111, 11, 131), rgb(172, 23, 209));
}

.btn:active{
    transform: scale(0.9);
}

a:link{
    color: white;
    text-decoration: none;
    border: 1px solid rgb(172, 23, 209);
    border-radius: 5px;
    padding: 5px 15px;
    background-image: linear-gradient(to left, rgb(85, 7, 100), rgb(142, 17, 173));
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgb(60, 0, 78);
    font-weight: 600;
}